include ../../../commons/mixins

section.all-services
    .container
        .all-services__wrapper
            .all-services-text
                .all-services-text__title Наши работы, на которых мы специализируемся
                .button
                    a(href='#').button__btn Все услуги
            +all-services-services(3)