.nav {
  &__wrap {
    display: flex;
    justify-content: flex-end;
  }

  &__item {
    padding: 40px 20.3px 37px 20.3px;
    color: #FFF;
    font-weight: 500;
    line-height: 20px;
    border-bottom: 2px solid transparent;
    transition: $transition;

    &:hover {
      border-bottom: 2px solid #FFF;
    }

    &_active {
      border-bottom: 2px solid #FFF;
    }
  }
}