.video-about {
  background-image: url("../img/video-about.jpg");
  background-repeat: no-repeat;

  @include mq-extra-small {
    background-size: cover;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 71px 0 84px 0;

    @include mq-extra-e-e-small {
      padding: 40px 0;
    }

    @include mq-extra-e-small {
      padding: 40px 0;
    }

    @include mq-extra-small {
      padding: 60px 0;
    }
  }

  &__content {
    padding: 0 0 65px 0;

    @include mq-extra-e-e-small {
      padding: 0 0 20px 0;
    }

    @include mq-extra-e-small {
      padding: 0 0 40px 0;
    }

    @include mq-extra-small {
      padding: 0 0 50px 0;
    }
  }

  &__title {
    padding: 0 0 25px 0;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    color: #FFFFFF;

    @include mq-extra-e-e-small {
      padding: 0 0 15px 0;
      font-size: $h2-360px;
    }

    @include mq-extra-e-small {
      padding: 0 0 20px 0;
      font-size: $h2-480px;
    }
  }

  &__text {
    text-align: center;
    color: #FFFFFF;

    @include mq-extra-e-e-small {
      font-size: 15px;
    }
  }

  &__video {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 970px;
    height: 430px;
    background-image: url("../img/video-about_city.jpg");
    background-repeat: no-repeat;
    border-radius: 10px;

    @include mq-extra-e-e-small {
      width: 95%;
      height: 100%;
    }

    @include mq-extra-e-small {
      width: 100%;
      height: 180px;
    }

    @include mq-extra-small {
      width: 100%;
      height: 330px;
    }
  }

  &__btn {
    padding: 40px 30px;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    font-weight: 500;
    color: #FFF;
  }

  &__vd {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
  }
}