section.video-our-jobs
    .container
        .video-our-jobs__wrapper
            .our-services-text
                .our-services-text__title.our-services-text__title_white Видео о нашей работе
                .our-services-text__subtitle.our-services-text__subtitle_white Просто посмотрите, как мы работаем
            .video-our-jobs-video
                .video-our-jobs-video__wrapper
                    .video-our-jobs-video-button
                        .video-our-jobs-video-button__wrapper
                            .video-our-jobs-video-button__circle
                                .video-our-jobs-video-button__triangle
                            .video-our-jobs-video-button__btn Смотреть видео