.button {
  &__btn {
    background-color: $color-button;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(111, 111, 111, 0.25);
    padding: 15px 36px;
    color: #FFF;
    font-weight: 500;
    line-height: 20px;
    cursor: pointer;
    transition: $transition;

    &:hover {
      background-color: $color-button_hover;
    }
  }
}