section.video-about
    .container
        .video-about__wrap
            .about-about__content
                h2.video-about__title Видео о нашей работе
                p.video-about__text Просто посмотрите, как мы работаем
            .video-about__video
                iframe(src="https://www.youtube.com/embed/HwVh8pmOot4").video-about__vd