.block-text {
  &__wrap {
    text-align: center;

    &--about-us {
      text-align: left;
      padding: 40px 280px 0 0;
    }
  }

  &__title {
    padding: 0 130px 40px 130px;
    font-weight: bold;
    font-size: 36px;
    line-height: 53px;
    color: #323232;

    &--about-us {
      padding: 0 0 40px 0;
    }
  }

  &__desc {
    padding: 0 270px;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #999999;

    &--about-us {
      padding: 0 0 30px 0;
    }
  }
}