.main-text {
  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 218px 0 335px 0;

    @include mq-extra-e-e-small {
      padding: 40px 0;
    }
  }

  &__title {
    padding: 0 0 17px 0;
    color: #FFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;

    @include mq-extra-e-e-small {
      padding: 0 0 5px 0;
    }
  }

  &__slogan {
    padding: 0 110px 36px 110px;
    color: #FFF;
    font-weight: 800;
    font-size: 48px;
    line-height: 1.3;
    text-align: center;

    @include mq-extra-e-e-small {
      padding: 0 0 15px 0;
      font-size: 26px;
    }
  }
}