.nav-burger {
  &__wrap {
    position: fixed;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    @include mq-small_large {
      display: none;
    }
  }

  &__item {
    padding: 10px 0;
    color: #FFF;
    font-weight: 500;
    line-height: 20px;
    border-bottom: 2px solid transparent;
    transition: $transition;

    &:hover {
      border-bottom: 2px solid #FFF;
    }

    &_active {
      border-bottom: 2px solid #FFF;
    }
  }
}