include ../../../commons/mixins

section.our-services
    .container
        .our-services__wrapper
            .our-services-text
                .our-services-text__title Мы создаем мобильные приложения для крупных корпораций
                .our-services-text__subtitle
                    | Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum
                    | является стандартной "рыбой" для текстов на латинице с начала XVI века.
            +our-services-services(3)
            .our-services__wrap-btn
                .button
                    a(href='#').button__btn Все услуги