.about-us {
  background-color: #F6F6F8;

  &__wrap {
    padding: 99px 0 67px 0;
  }

  &__content {
    display: flex;
    padding: 0 0 90px 0;
    border-bottom: 1px solid #E0E0E0;;
  }

  &__link {
    padding: 0 0 0 19px;
    font-weight: 500;
    line-height: 20px;
    text-decoration-line: underline;
    color: #4985FF;
    transition: $transition;

    &:hover {
      color: $color-link_hover;
    }
  }

  &__img {
    margin: 0 20px 0 0;
    width: 500px;
    box-shadow: 0 0 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
  }

  &__items {
    display: flex;
    justify-content: center;
    padding: 68px 0 0 0;
  }

  &__item {
    padding: 0 52px;
  }

  &__value {
    display: flex;
    justify-content: space-between;
  }

  &__icon {
    width: 30px;
    height: 30px;
    padding: 5px 0 0 0;
  }

  &__text {
    font-size: 36px;
  }

  &__name {
    padding: 8px 0 0 0;
    color: #999999;
  }
}