extends templates/page

block variables
    - var title = 'Передовая IT-студия';

block content
    article.main
        include modules/article/our-services/our-services
        include modules/article/about-us/about-us