extends templates/page

block variables
    - var title = 'Передовая IT-студия';

block content
    article.article
        include modules/article/our-services/our-services
        include modules/article/about-us/about-us
        include modules/article/all-services/all-services
        include modules/article/all-projects/all-projects
        include modules/article/video-our-jobs/video-our-jobs
        include modules/article/subscribe/subscribe