.footer {
  background-color: #F6F6F8;

  &__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 73px 0;

    @include mq-extra-e-e-small {
      padding: 40px 0 0 0;
    }

    @include mq-extra-e-small {
      padding: 40px 0 0 0;
    }

    @include mq-extra-small {
      padding: 60px 0 0 0;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;

    @include mq-extra-e-e-small {
      width: 100%;
      padding: 0 0 20px 0;
    }

    @include mq-extra-e-small {
      width: 100%;
      padding: 0 0 30px 0;
    }

    @include mq-extra-small {
      align-items: center;
      width: 100%;
      padding: 0 0 40px 0;
    }
  }

  &__title {
    padding: 0 0 20px 0;
    font-weight: 600;
  }

  &__link {
    display: flex;
    align-items: center;
    padding: 13px 0;
    font-size: 14px;
    color: $color-link;
    transition: $transition;

    &:hover {
      color: $color-link_hover;
    }

    @include mq-extra-small {
      margin: 0 0 0 -10px;
    }
  }

  &__icon {
    padding: 0 10px 0 0;
  }
}