.footer {
  background-color: #F6F6F8;

  &__items {
    display: flex;
    justify-content: space-between;
    padding: 73px 0;
  }

  &__item {
    display: flex;
    flex-direction: column;
  }

  &__title {
    padding: 0 0 20px 0;
    font-weight: 600;
  }

  &__link {
    display: flex;
    align-items: center;
    padding: 13px 0;
    font-size: 14px;
    color: $color-link;
    transition: $transition;

    &:hover {
      color: $color-link_hover;
    }
  }

  &__icon {
    padding: 0 10px 0 0;
  }
}