include ../../commons/mixins
include ../../commons/variables

footer.footer
    .container
        .footer__wrapper
            .footer-items
                .footer-items__wrapper
                    .footer-items-contact
                        .footer-items-contact__wrapper
                            .footer-items-contact__title Контактная информация
                            a(href='mailto:test@test.ru').footer-items-contact__link
                                +add-svg('footer-items-contact__image footer-items-contact__email', 'icon-email')
                                | test@test.ru
                            a(href='tel:+87775556699').footer-items-contact__link
                                +add-svg('footer-items-contact__image footer-items-contact__phone', 'icon-phone')
                                | +8 777 555 66 99
                            a(href='#').footer-items-contact__link
                                +add-svg('footer-items-contact__image footer-items-contact__position', 'icon-position')
                                | Москва, Бульвар Ленина 33
                    .footer-items-block
                        .footer-items-block-links.footer-items-block-main-links.footer-items-block-links__wrapper
                            +footer-items-block-main-links(item_mainLinks)
                        .footer-items-block-links.footer-items-block-our-projects.footer-items-block-links__wrapper
                            +footer-items-block-our-projects(item_ourProjects)
                        .footer-items-block-links.footer-items-block-social-links.footer-items-block-links__wrapper
                            +footer-items-block-social-links(item_socialLinks)
                    .footer-items-block-mobile
                        .footer-items-block-mobile-links.footer-items-block-mobile-main-links.footer-items-block-mobile-links__wrapper.hide-list-js
                            +footer-items-block-mobile-main-links(item_mainLinks)
                        .footer-items-block-mobile-links.footer-items-block-mobile-our-projects.footer-items-block-mobile-links__wrapper.hide-list-js
                            +footer-items-block-mobile-our-projects(item_ourProjects)
                        .footer-items-block-mobile-links.footer-items-block-mobile-social-links.footer-items-block-mobile-links__wrapper.hide-list-js
                            +footer-items-block-mobile-social-links(item_socialLinks)
            .footer-copyright
                .footer-copyright__wrapper
                    .footer-copyright__copy (с) 2019. Все права защищены.