footer.footer
    .container
        .footer__wrap
            .footer__items
                .footer__item
                    h3.footer__title Контактная информация
                    a(href='mailto:test@test.ru').footer__link
                        img(src='img/svg/icon-email.svg').footer__icon
                        | test@test.ru
                    a(href='tel:+87775556699').footer__link
                        img(src='img/svg/icon-phone.svg').footer__icon
                        | +8 777 555 66 99
                    a(href='#').footer__link
                        img(src='img/svg/icon-position.svg').footer__icon
                        | Москва, Бульвар Ленина 33
                .footer__item
                    h3.footer__title Основные ссылки
                    a(href='#').footer__link
                        img(src='img/svg/icon-right-arrow.svg').footer__icon
                        | Главная
                    a(href='#').footer__link
                        img(src='img/svg/icon-right-arrow.svg').footer__icon
                        | Наши проекты
                    a(href='#').footer__link
                        img(src='img/svg/icon-right-arrow.svg').footer__icon
                        | Наши услуги
                    a(href='#').footer__link
                        img(src='img/svg/icon-right-arrow.svg').footer__icon
                        | Контакты
                .footer__item
                    h3.footer__title Наши проекты
                    a(href='#').footer__link
                        img(src='img/svg/icon-right-arrow.svg').footer__icon
                        | РосНано
                    a(href='#').footer__link
                        img(src='img/svg/icon-right-arrow.svg').footer__icon
                        | Сколково
                    a(href='#').footer__link
                        img(src='img/svg/icon-right-arrow.svg').footer__icon
                        | Проект "Восток"
                    a(href='#').footer__link
                        img(src='img/svg/icon-right-arrow.svg').footer__icon
                        | ТЭЦ Калининграда
                .footer__item
                    h3.footer__title Социальные сети
                    a(href='#').footer__link
                        img(src='img/svg/icon-right-arrow.svg').footer__icon
                        | VK.com
                    a(href='#').footer__link
                        img(src='img/svg/icon-right-arrow.svg').footer__icon
                        | Instagram
                    a(href='#').footer__link
                        img(src='img/svg/icon-right-arrow.svg').footer__icon
                        | Facebook
                    a(href='#').footer__link
                        img(src='img/svg/icon-right-arrow.svg').footer__icon
                        | Twitter
            .footer-copyright
                .footer-copyright__wrap
                    .footer-copyright__copy (с) 2019. Все права защищены.