.all-services {
  background: linear-gradient(to bottom, #5F12D0 50%, #FFF 50%);

  @include mq-extra-e-e-small {
    background: linear-gradient(to bottom, #5F12D0 10%, #FFF 30%);
  }

  @include mq-extra-e-small {
    background: linear-gradient(to bottom, #5F12D0 10%, #FFF 30%);
  }

  &__wrap {
    padding: 96px 0 84px 0;

    @include mq-extra-e-e-small {
      padding: 40px 0;
    }

    @include mq-extra-e-small {
      padding: 40px 0;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

    @include mq-extra-e-e-small {
      flex-direction: column;
    }

    @include mq-extra-e-small {
      flex-direction: column;
    }
  }

  &__title {
    padding: 0 50px 0 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.47;
    color: #FFF;

    @include mq-extra-e-e-small {
      text-align: center;
      font-size: $h2-360px;
      padding: 0 0 20px 0;
    }

    @include mq-extra-e-small {
      text-align: center;
      font-size: $h2-480px;
      padding: 0 0 30px 0;
    }
  }

  &__items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 56px 0 86px 0;
    border-bottom: 1px solid #E0E0E0;

    @include mq-extra-e-e-small {
      padding: 30px 0;
    }

    @include mq-extra-e-small {
      padding: 40px 0;
    }
  }

  &__item {
    width: 350px;

    @include mq-extra-e-e-small {
      width: 250px;
      padding: 0 0 30px 0;
    }

    @include mq-extra-e-small {
      width: 300px;
      padding: 0 0 40px 0;
    }
  }

  &__img {
    width: 350px;
    margin: 0 0 27px 0;
    border-radius: 10px;

    @include mq-extra-e-e-small {
      width: 250px;
      margin: 0 0 15px 0;
    }

    @include mq-extra-e-small {
      width: 300px;
      margin: 0 0 15px 0;
    }
  }

  &__subtitle {
    padding: 0 0 24px 0;
    font-weight: 600;
    font-size: 18px;

    @include mq-extra-e-e-small {
      padding: 0 0 10px 0;
    }

    @include mq-extra-e-small {
      padding: 0 0 15px 0;
    }
  }

  &__value {
    color: #4985FF;
  }

  &__text {
    padding: 0 0 25px 0;
    line-height: 25px;
    color: #999999;

    @include mq-extra-e-e-small {
      padding: 0 0 10px 0;
    }

    @include mq-extra-e-small {
      padding: 0 0 15px 0;
    }
  }

  &__link {
    font-weight: 500;
    color: #4985FF;
    transition: $transition;

    &:hover {
      color: $color-link_hover;
    }
  }
}