include ../../../commons/mixins

section.about-us
    .container
        .about-us__wrapper
            .about-us-guarantee
                .about-us-guarantee__wrapper
                    .about-us-guarantee__left
                        .about-us-text
                            .about-us-text__title Высокие стандарты разработки
                            .about-us-text__text
                                | Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum
                                | является стандартной "рыбой" для текстов на латинице с начала XVI века. стандартной
                                | "рыбой" для текстов на латинице с начала XVI века.
                            a(href='#').about-us-text__link Подробнее о компании
                    .about-us-guarantee__right
                        .about-us-img
                            .about-us-img__image
            +about-us-projects(5)