section.subscribe
    .container
        .subscribe__wrap
            form().subscribe-form
                .subscribe-form__wrap
                    .subscribe-form__text
                        .subscribe-form__title Подпишись на нашу рассылку
                        .subscribe-form__desc Полезные статьи, акции, новости - получите все это сейчас!
                    .subscribe-form__button
                        input(type='email' placeholder='Ваш e-mail' name='email' required).subscribe-form__email
                        button(type='submit').subscribe-form__btn Подписаться
                    .subscribe-form__spam Мы не шлем спам, и не передаем никому ваши данные.