// Переменные разрешения экрана
$screen-extra-large: 1800px;
$screen-large: 1200px;
$screen-medium: 1024px;
$screen-small: 768px;
$screen-extra-small: 480px;
$screen-extra-e-small: 360px;

// Переменные для документа
