// Переменные разрешения экрана
$screen-extra-large: 1800px;
$screen-large: 1200px;
$screen-medium: 1024px;
$screen-small: 768px;
$screen-extra-small: 480px;
$screen-extra-e-small: 360px;

// Переменные для документа
$transition: .2s ease-in;
$color-button: #4985FF;
$color-button_hover: #286dff;
$color-link: #999;
$color-link_hover: #286dff;
$h2-mobile: 26px;