header.header
    .header__wrap
        nav.nav
            .container
                .nav__wrap
                    a(href='').nav__item.nav__item--active Главная
                    a(href='').nav__item Наши проекты
                    a(href='').nav__item Услуги
                    a(href='').nav__item Новости
                    a(href='').nav__item Контакты
        .line
            .line__wrap
        .button-burger
            .container
                .button-burger__wrap кнопка
        .main-text
            .container
                .main-text__wrap
                    h1.main-text__title Передовая IT студия
                    p.main-text__slogan Мы создаем легкие решения сложных задач и проблем
                    .button
                        .button__wrap
                            button.button__btn Наши проекты